body {
    font-family: 'Arial', sans-serif;
    font-size: 1.3rem;
    line-height: 1.5;
    background-color: #f0f0f0;
    color: #333;
}

.titulo {
    text-align: center;
}

.cuadrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
    margin: auto;
    padding: 2rem;
    gap: 2rem;
    background-color: #f8e0ac;
    border-radius: 1rem;
}

.grupo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.etiqueta {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.campo {
    padding: 1rem;
    font-size: 1.6rem;
    border: 1px solid #ccc;
    border-radius: 1.1rem;
}

.boton {
    background-color: #dfb14f;
    color: rgb(0, 0, 0);
    padding: 1rem 2rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
    margin-top: 1rem;
}

.boton:hover {
    background-color: #c99c3c;
}
